FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    location    "0";
    object      omega;
}

dimensions      [0 0 -1 0 0 0 0];

internalField   uniform 100;

boundaryField
{
#BOUNDARY_CONFIG_OMEGA#
}
